@import url(http://fonts.googleapis.com/css?family=Dawning+of+a+New+Day);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

::selection {color:teal;background:yellow;}
::-moz-selection {color:red;background:yellow;}

textarea#letter_text,span,div.letter{
 	font-family: 'Dawning of a New Day';
 	font-size: 18pt;
}

h1{
	font-family: 'Open Sans', Helvetica, Sans-Serif;
	font-weight: 300;
	color: black;
	opacity: 0.7;
	font-size: 24pt;
	letter-spacing: -0.05em;

}

.red{
	color:red;
}
.blur{
	color: transparent;
	text-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.linethrough{
	text-decoration:line-through;
}
#final_span{
 	color: #093166;
}
#interim_span{
 	color: #093166;
 	opacity: 0.2;
}

div#main-container{
	position: relative;
}

div.container{
	width:90%;
	margin: 0 auto;
	position: relative;
}

div#tasks{
	margin-top: 300px;
}

div.button-group{
	margin-bottom: 10px;
}
.pull-right{
	float:right;
}
div.letter{
	background-color: #FCF7DE;
	padding:10px;
	min-height:200px;
	width:auto;
}

div#edit_box{
	position: absolute;
	width:100%;
	z-index: 1;
}
div#content_box{
	position: absolute;
	width: 100%;
	z-index:0;
}
textarea#letter_text{
	background-color: #FFF;
	padding:10px;
	width:100%;
	
	outline: none;
	border: 1px solid;
	min-height: 210px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}

.hidden{
	display:none;
}

button{
	width:auto;
	height: 50px;
	color: #F2F2F2;
	padding:10px 30px;
	margin:10px;
	border:none;
	outline: none;
	border-radius: 50px;
	cursor: pointer;
	font-family: 'Open Sans', Helvetica, Sans-Serif;
	text-transform: uppercase;
	font-size: 10pt;
	letter-spacing: 0.05em;
}

button.default{
	background-color: rgba(149, 165, 166,0.75);
}
button.default:hover{
	background-color: rgba(149, 165, 166,1.0);
}
button.success{
	background-color: rgba(46, 204, 113,0.75);
}
button.success:hover{
	background-color: rgba(46, 204, 113,1.0);
}			
button.danger{
	background-color: rgba(192, 57, 43,0.75);
}
button.danger:hover{
	background-color: rgba(192, 57, 43,1.0);
}
button.small{
	padding:10px 20px;
	border-radius: 25px;
	font-size: 1em;
}

@media print {
   	.non-printable {
       display: none;
    }
    .printable {
       display: block;
    }
}